<div class="spar-text-portlet spar-use-margins">
  <div class="spar-text-portlet-content">
    <h2>Välkommen</h2>
    <h3>Här kan du se alla fruktkorgar som finns tillgängliga. Klicka på en korg för att se vilka frukter som är tillgängliga</h3>
  </div>
</div>

<div class="spar-text-portlet-content" id="spar-inner-content">

  <table id="fruktTable">
    <tr>
      <th>Namn</th>
      <th>Antal frukter</th>
      <th>Påfylld</th>
    </tr>
    <tr>
      <td>Korg 1</td>
      <td>5</td>
      <td>13 Augusti 10:45</td>
    </tr>
    <tr>
      <td>Korg 2</td>
      <td>2</td>
      <td>11 Augusti 13:30</td>
    </tr>
    <tr>
      <td>Korg 3</td>
      <td>50</td>
      <td>09 Augusti 08:00</td>
    </tr>
    <tr>
      <td>Korg 4</td>
      <td>20</td>
      <td>14 Augusti 12:00</td>
    </tr>
  </table>
</div>
