<div class="spar-text-portlet spar-use-margins">
  <div class="spar-text-portlet-content">
    <h2>Välkommen</h2>
    <h3>Här kan du få reda på vilka fruktkorgar den frukt du letar efter finns i.</h3>
  </div>
</div>

<div class="spar-text-portlet-content" id="spar-inner-content">
  <form action="javascript:searchFrukt()">
    <div class="dr_alternativ"><strong>Välj frukt</strong>
      <div class="dr_val">
        <select class="frukt-select" id="frukt-id">
          <option value="Banan">Banan</option>
          <option value="Äpple">Äpple</option>
          <option value="Päron">Päron</option>
        </select>
      </div>
    </div>
    <div id="buttons"><input type="submit" id="dr_spara" value="Sök"></div>
  </form>
</div>
