<div class="spar-text-portlet spar-use-margins">
    <div class="spar-text-portlet-content">
        <h2>Välkommen</h2>
        <h3>Här kan du söka efter frukter, samt se ett utdrag på samtliga fruktkorgar</h3>
    </div>
</div>

<div class="spar-text-portlet-content" id="spar-inner-content">
    <div class="start-alternativ">
        <a id="button_dr" class="button-link" href="#fruktSearch" title="">Frukt Sök</a>
        <a id="button_registerutdrag" class="button-link" href="#listFruktkorgar" title="">Fruktkorgar</a>
    </div>
</div>