.nobr {
    white-space: nowrap;
}

.bg_ljusgra {
    background-color: #f0f0f0;
}

.footer_style {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding-bottom: 1.5em;
}

.mobile_menu {
    float: left;
    position: relative;
}

.footer_separator {
    margin-top: 1.0em;
}

.menu_bar1 {
    background-color: #ffffff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1000;
}

.footer_header_padding {
    padding-bottom: 0.5em;
    padding-left: 1.6em;
    padding-top: 1.0em;
}

.innehall_padding_top_bottom {
    background-color: #f0f0f0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.nomargin {
    margin: 0 0 0 0;
}

#innehall {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    padding: 1.0em 1.5em;
}

.padding_top_line {
    padding-bottom: 1.5em;
    padding-top: 1.0em;
}

.header_blue_line {
    background-color: #f0f0f0;
    border-bottom: 3px solid #168dc5;
}

.footer_padding_top {
    padding-top: 0.2em;
}

.footer_line_separator {
    border-top: 1px solid #f0f0f0;
}

.inloggad_pc {
    font-family: arial, sans-serif;
    font-size: 116%;
    font-style: normal;
    font-weight: normal;
    line-height: 140%;
    position: relative;
    text-align: right;
}

.logo_max_size {
    max-height: 35px;
    max-width: 341px;
}

.footer_kolumn_padding {
    padding-left: 1.6em;
}

.bg_vit {
    background-color: #ffffff;
}

.innehall_line_top {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 1.0em;
}

.spar_container12 p {
    margin: 11px 0 0 0;
}

.spar-noborder {
    border-style: none;
}

.spar-horizontal-list li {
    float: left;
}

.spar-use-margins h1, .spar-use-margins h2, .spar-use-margins h3, .spar-use-margins h4, .spar-use-margins h5, .spar-use-margins h6 {
    display: block;
}

.spar-text-portlet strong, .spar-text-portlet strong * {
    font-weight: bold !important;
}

.spar-text-portlet em, .spar-text-portlet em * {
    font-style: italic !important;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

body.spar-wait * {
    cursor: wait !important;
}

body.spar-crosshair * {
    cursor: crosshair !important;
}

.spar-image-container12, .spar-image-container12 a {
    line-height: 0 !important;
}

.spar-responsive .spar-image-container12 img {
    height: auto;
    width: 100%;
}

.brodtextx {
    color: #4f4f4f;
    font-family: arial, sans-serif;
    font-size: 116%;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
}

.brodtextx a {
    color: #168dc5;
    font-family: arial, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    text-decoration: none;
}

.brodtextx a:visited {
    color: #168dc5;
    font-family: arial, sans-serif;
    font-size: 116%;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    text-decoration: none;
}

h2 {
    color: #4f4f4f;
    font-family: arial, sans-serif;
    font-size: 266%;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.spar-use-margins h2 {
    margin-bottom: 0.0em;
    margin-top: 0.0em;
}

.spar-use-margins h2:first-child {
    margin-top: 0.0em;
}

.spar-use-margins h2:last-child {
    margin-bottom: 0.0em;
}

h3 {
    color: #4f4f4f;
    font-family: arial, sans-serif;
    font-size: 150%;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

h3 a {
    color: #4f4f4f;
    font-family: arial, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
}

a h3:link {
    color: #168dc5;
    font-family: arial, sans-serif;
    font-size: 150%;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
}

h3 a:link {
    color: #168dc5;
    font-family: arial, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
}

.spar-use-margins h3 {
    margin-bottom: 1.0em;
    margin-top: 0.0em;
}

.spar-use-margins h3:first-child {
    margin-top: 0.0em;
}

.spar-use-margins h3:last-child  {
    margin-bottom: 1.0em;
}

.brodtextxaqua0 a {
    color: #168dc5;
    font-family: arial, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    text-decoration: none;
}

.spar-portlet-table-caption a {
    color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
}

.brodtextxvit a {
    color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
}


.brodtextxaqua {
    color: #168dc5;
    font-family: arial, sans-serif;
    font-size: 110%;
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
}

a.brodtextxaqua {
    color: #168dc5;
    font-family: arial, sans-serif;
    font-size: 110%;
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
    text-decoration: none;
}

.brodtextxaqua a {
    color: #168dc5;
    font-family: arial, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
    text-decoration: none;
}

.spar-use-margins .brodtextxaqua {
    margin-top: 0.0em;
}

.spar-use-margins .brodtextxaqua {
    margin-bottom: 0.0em;
}

.spar-use-margins .brodtextxaqua:first-child {
    margin-top: 0.0em;
}

.spar-use-margins .brodtextxaqua:last-child {
    margin-bottom: 0.0em;
}

.startsidetextxmorkgra {
    color: #4f4f4f;
    font-family: arial, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 140%;
}

a.startsidetextxmorkgra, .startsidetextxmorkgra a {
    color: #4f4f4f;
    font-family: arial, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 140%;
    text-decoration: none;
}

.spar-use-margins .startsidetextxmorkgra {
    margin-top: 0.0em;
}

.spar-use-margins .startsidetextxmorkgra {
    margin-bottom: 0.0em;
}

.spar-use-margins .startsidetextxmorkgra:first-child {
    margin-top: 0.0em;
}

.spar-use-margins .startsidetextxmorkgra:last-child {
    margin-bottom: 0.0em;
}

img#image_logo {
    padding-top: 1px;
}

@media print {
    body {
        background: white;
        font-size: 12pt;
    }

    * {
        font-family: "Times New Roman", serif !important;
    }
}

#fruktTable {
    width: 100%;
    border-collapse: collapse;
}
#fruktTable th {
    text-align: left;
    padding: 10px 0px 10px 0px;
}

#fruktTable td:nth-of-type(1) {
    min-width: fit-content;
}

#fruktTable td:nth-of-type(2) {
    min-width: fit-content;
}

#fruktTable td:nth-of-type(3) {
   font-style: italic;
    min-width: fit-content;
}

#fruktTable tr:not(:first-child):hover {
    background-color: #68c0ea ;
    cursor: pointer;
}

#fruktTable tr:not(:first-child) {
    border-bottom: 1px solid lightgray;
}

#fruktTable td {
    padding: 10px 0px 10px 0px;
    text-align: left;
}

.fruktkorg-details {
    cursor: initial;

}
.fruktkorg-details:hover {
    background-color: white;
}

.frukt-select {
    padding: 3px 10px 3px 10px;
}